# ── Database ──────────────────────────────────
DB_PASSWORD=root

# ── Model ─────────────────────────────────────
HF_REPO_ID=abdullahg7/cardd-yolov8s
MODEL_VERSION=v1.0/best.pt

# ── Inference ─────────────────────────────────
CONF_THRESHOLD=0.25
IOU_THRESHOLD=0.45
IMG_SIZE=640

# ── Upload ────────────────────────────────────
MAX_FILE_SIZE_MB=10
ALLOWED_EXTENSIONS=jpg,jpeg,png